/* ==========================================================================
  Elements - Numeric posts navigation
========================================================================== */

.numeric-navigation {
  display: block;
  text-align: center;
  margin: 1.5rem 0;
  ul {
    @include list-reset;
  }

  li {
    display: inline-block;
    margin: .5rem .25rem;
    a {
      text-decoration: none;
      font-weight: $bold;
      color: $base-font-color;
      font-size: .875rem;
      padding: .5rem .75rem;
      border: .0625rem solid $grey-light;
      transition: .2s ease;
      &:hover,
      &:focus,
      &:active {
        border-color: $blue;
      }
    }
    &.active {

    }
    &.disabled {

    }
  }

}
